@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Vacancy</h1>
    <form method="post" action="home/AddVacancy">
    <label>Title:</label><input type="text" />
        <label>Date:</label><input type= "date" />
        <input type="submit" value="save"/>
</form>
</div>
