@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/vacansies.css" />

<h3>Vacancy</h3>

<div id="form">
    <form method="post" action="home/AddVacancy">
        <label>Title:</label><input name="title" type="text" />
        <label>Date:</label><input name="date" type="date" />
        <input type="submit" value="save" />
    </form>
</div>
<div id="list">
    <br />
    <br />
    <hr />
    <table class="vacancy" id="listvacansies">
        <tr>
            <th>Title</th>
            <th>Date</th>
        </tr>
    </table>
</div>
<script type="text/javascript" src="~/js/vacancy.js"></script>
